* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background: rgb(73, 73, 129);
}
.img-gallery {
  width: 90%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
.img-gallery img {
  width: 100%;
}
.img-gallery img:hover {
  transform: scale(1.1);
  text-underline-offset: 1px;
  border-radius: 20px;
  box-shadow: 0 10px 7px rgb(35, 35, 108);
}
.img-gallery h3 {
  margin-top: 20px;
  color: rgb(234, 233, 245);
  display: flex;
  justify-content: space-between;
}
.img-gallery h3 span {
  color: rgb(196, 195, 203);
}
p {
  color: azure;
  margin-top: 20px;
}
